html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

a {
    color: #EF233C;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    width=170%;
}

.bloemfoto {
    width: 30%;
    float: left;
    min-height: 175px;
}

.tekstboven {
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 175px;
}

header,
footer {
    background: #8b475d;
    color: #8D99AE;
}


header h1,
header h2,
header h3 {
    color: #EDF2F4;
    margin: 0;
}

.profile-img {
    border-radius: 50%;
}


footer {
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
    color: #f2f2f2;
}

p {
    padding: 10px;
}

.startpagina {
    background: #EDF2F4;
}

.divfoto {
    width: 900;
    height: 510;

}

.welkom {
    background: #F8E0F7;

}

.bgimg {
    background-image: url('../images/div.jpg');
}

.topnav {
    background-color: #8b668b;
    overflow: hidden;
    padding: 8px 600px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a.active {
    background-color: #cdb5cd;
    color: white;
}

.padimg {
    padding: 14px 16px;
}

#hoofdpagimg {
    width: 850;
    height: 500;
    float: center;
    @media screen and (max-width: 100%) .left, .main, .right {
        width: 100%;

    }
}

.inhoudstartpg {}

.promoties {
    width: 500;
    height: 800;
}

.promotie1 {
    padding: 14px 16px;
}

#titelpromotie1 {
    font-size: 20;
}

#titelpromotie2 {
    font-size: 20;
}

.promotie2 {
    padding: 14px 16px;
}

#titelpromotie3 {
    font-size: 20;
}

.promotie3 {
    padding: 14px 16px;
}

.content-prijslijst {
    width: 100%;
    height: 100%;
    padding: 25px;
}

.prijslijst {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 35px;
    border: 2px solid black;

}

#titelprijslijst {
    font-size: 30;
    text-align: center;
}

.gelaatsverzorging {
    width: 40%;
}

.prijsgelaat {
    width: 10%;
}

.ped&man {
    width: 40%;
}

.prijsped&man {
    width: 10%;
}
